/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "Bones";
  src: url("../font/xBONES.woff2") format("woff2"),
    url("../font/xBONES.woff") format("woff");
}

/* ******************************** */

/* Colores */
:root {
  --color-amarillo: #ffdd00;
  --color-gris: #a0a2a1;
  --color-morado: #7f2eb3;
  --color-naranja: #ff8814;
  --color-naranja-claro: #f9af1f;

  --sombra: 0px 5px 2px #7f2eb3;
}
/* ******************************** */
html {
  font-family: "Bones";
  font-size: 16px;
  color: var(--color-naranja);
  user-select: none;
  overflow: hidden;
}

body {
  width: clamp(430px, 100wv);
  height: clamp(932px, 100hv);
  background: #111;

  & main {
    height: 95vh;
    text-shadow: var(--sombra);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* Iconos de telarañas en las esquinas */
    background: url(../svg/luna.svg) no-repeat right 10% top 10%,
      url(../svg/telaraña1.svg) no-repeat left bottom,
      url(../svg/telaraña2.svg) no-repeat right bottom,
      url(../svg/telaraña3.svg) no-repeat right top,
      url(../svg/telaraña4.svg) no-repeat left top,
      url(../svg/fantasma1.svg) no-repeat right bottom 20%,
      url(../svg/fantasma2.svg) no-repeat left top 20%,
      url(../svg/mano.svg) no-repeat center bottom -3%;

    & h1 {
      font-size: 2.5rem;
      text-align: center;
    }

    & .contador {
      padding: 20px 0;
      text-align: right;
      font-size: 2.5rem;
      line-height: 130%;
    }

    & .main__pago {
      position: fixed;
      bottom: 0;
      width: 100%;
      background: var(--color-amarillo);
      display: flex;
      justify-content: center;
      align-items: center;

      & .main__pago-img {
        background: var(--color-amarillo);
      }
    }
  }
}
